.footer-container{
    display: flex;
    font-family: Jost;
    padding-top: 40px;
    color: aqua;
}

.title-1{
    font-size: 40px;
}

.title-2{
    margin-top: 20px;
    font-size: 20px;
}
.title-3{
    margin-top: 20px;
    font-size: 20px;
}
.title-4{
    margin-top: 20px;
    font-size: 20px;
}
/* .list-icon{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.icon{
    width: 20px;
    height: 20px;
    
} */